 
.sidebar {
    grid-row: 2 / 3;
    background-color: var(--sidebar-background); 
    color: var(--sidebar-text-color); 
    padding-top: 20px;
    height: 100%; 
}

.mainNav ul {
    padding: 0px;
}

.mainNav li {
    margin-bottom: 10px; 
}

.mainNav .navItem {
    display: flex; 
    align-items: center; 
    padding: 12px 20px;
    color: var(--sidebar-text-color);
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.mainNav .navItem:hover,
.mainNav .navItem.active {
    background-color:var(--sidebar-active-background); 
    border-left: 3px solid var(--sidebar-active-border);
}

.navIcon {
    margin-right: 10px; 
    font-size: 18px; 
}